{% extends 'accounts/base.html' %}
{% block content %}
<div class="container col-ms-10" align="center">
    <img src="https://images.unsplash.com/photo-1495653797063-114787b77b23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Responsive image" height="300px" width="100%">
    <br>
    <br>
    <h1>About HelpingHands</h1>
    <br>
    <p>Helping hands is a not profitable organization for helping NGO for fullfilling their Requirement 
        and make the word good place during this covid-19 condition.The Helping Hands Foundation is a non-profit organization, which works with children who are diagnosed with cancer. 
        We work on two projects – The Accommodation Project and The Survivor Project.
    </p>
    <h1>Our team</h1>
    <div class="row">
    <div class="col-sm-3" align="center">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px">
        <h6>Saurabh Bujawade</h6>
    </div>
    <div class="col-sm-3" align="center">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px">
        <h6>Shubham Bhakuni</h6>
    </div>
    <div class="col-sm-3" align="center">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px">
        <h6>Dhruv Doshi</h6>
    </div>
    <div class="col-sm-3" align="center">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="rounded-circle" alt="Cinque Terre" width="100px" height="100px">
        <h6>Mayuresh kadam</h6>
    </div>
</div>
<br>
<div style="background-color: black;">
    <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
        <a href="https://mdbootstrap.com/" style="color: white;"> MDBootstrap.com</a>
      </div>
</div>
</div>
{% endblock %}