{% extends "accounts/base.html" %}
 {% load crispy_forms_tags %} 
 {% block content%}
 <br><br>

 <center><h2><b>List of Requirements</b></h2></center>
 <br><br>


 <div class ='row'>
  {% for post in posts %}
  {% include 'accounts/list_layout.html' with val=post %}

  {% endfor %}
 
  </div>

  <div class="flex-left">

    
<br><br>



  {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
  </div>


  <h3>Donations Till Now Done</h3>
    {% if donation_list %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Material Name</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for donation in donation_list %}
            <tr>
              <th scope="row">1</th>
              <td>{{ donation.user_name }}</td>
              <td>{{ donation.material_name }}</td>
              <td>{{ donation.quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p>No Donations are available.</p>
    {% endif %}
  {% endblock content %}



