
      {% extends "accounts/base.html" %} 
      {% load crispy_forms_tags %} 
      {% block content %}
      
      
      <div class="container">
        <br><br>
      
        <h2>NGO Registration:</h2>
        
        <br>
        <form method="POST">
            {% csrf_token %}

            <!-- <fieldset class="form-group">
                {{ form.as_p }}
            </fieldset>
            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </div> -->




            
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Username for NGO</label>
                <div class="col-sm-10">
                    {{ form.username }}
                </div>
              </div>
              <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">Name of the NGO</label>
                <div class="col-sm-10">
                    {{ form.first_name }}
                </div>
              </div>
              <div class="form-group row ">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Official Email</label>
                <div class="col-sm-10">
                  {{ form.email }}
                </div>
              </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                {{ form.password1 }}
              </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                  {{ form.password2 }}
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Check this if you want to post requirements (recommended)</label>
                <div class="col-sm-10">
                    <br>
                  {{ form.is_staff }}
                </div>
              </div>
            
              <p style="color: red;">{{ form.errors }}</p>

              Already have an account? <a href="{% url 'login' %}" >Login</a>
            
            <br><br>
              <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </div>

            

          </form>


      </div>

      <script>
          var fields = document.getElementsByTagName('input')
          
          fields[1].placeholder='Eg. Childline123';
          fields[2].placeholder='Eg. Childline India (NGO)';
          fields[3].placeholder='Email';
          fields[4].placeholder='Password';
          fields[5].placeholder='Confirm Password';
      </script>

 
{% endblock content %}
