
{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <h1>{{info}}</h1>
  <div     class="content-section"> 
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Fill Proctor Form
            </legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> SUBMIT</button>
        </div>
    </form>
</div>

{% endblock content %}
